# Practice Case - Statistics

Alifia Cesarina Harmadi

Data Fellowship Batch 6 by IYKRA

In [1]:
#import data from github

import pandas as pd
url = 'https://github.com/Syukrondzeko/Fellowship/blob/main/Seasons_Stats.csv?raw=true'

data = pd.read_csv(url,index_col=0)

data.head(5)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

## Data Pre-processing

### Selecting data only in 2017

In [2]:
#only data in 2017 will be used
df= data[data.Year == 2017]
df= df.reset_index(drop=True)
df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,0.565,...,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
2,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,0.355,...,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
3,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
4,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0

### Dealing with duplicates values

In [3]:
#check Player data
df.Player.value_counts()

Omri Casspi          4
Lance Stephenson     4
Ersan Ilyasova       4
Joffrey Lauvergne    3
Jose Calderon        3
                    ..
Trevor Ariza         1
Denzel Valentine     1
Iman Shumpert        1
Ivica Zubac          1
Bruno Caboclo        1
Name: Player, Length: 486, dtype: int64

In [4]:
#example of the data that have multiple values
df[df.Player == "Ersan Ilyasova"]

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
258,2017.0,Ersan Ilyasova,PF,29.0,TOT,82.0,52.0,2142.0,14.6,0.546,...,0.778,115.0,366.0,481.0,141.0,58.0,23.0,116.0,211.0,1071.0
259,2017.0,Ersan Ilyasova,PF,29.0,OKC,3.0,0.0,62.0,6.9,0.469,...,NaN,2.0,14.0,16.0,1.0,3.0,1.0,4.0,5.0,15.0
260,2017.0,Ersan Ilyasova,PF,29.0,PHI,53.0,40.0,1447.0,15.4,0.553,...,0.768,71.0,243.0,314.0,97.0,33.0,14.0,78.0,133.0,786.0
261,2017.0,Ersan Ilyasova,PF,29.0,ATL,26.0,12.0,633.0,13.5,0.530,...,0.800,42.0,109.0,151.0,43.0,22.0,8.0,34.0,73.0,270.0

In [5]:
#drop duplicates values and keep the first records from duplicates
#with an assumption that the first row contains the latest data 

df = df.drop_duplicates("Player", keep='first')
df= df.reset_index(drop=True)

### Dealing with missing values

droping columns that have missing values in their entire data row

In [6]:
#check missing values percentage in every columns
df.isnull().sum() / df.shape[0] * 100

Year        0.000000
Player      0.000000
Pos         0.000000
Age         0.000000
Tm          0.000000
G           0.000000
GS          0.000000
MP          0.000000
PER         0.000000
TS%         0.205761
3PAr        0.205761
FTr         0.205761
ORB%        0.000000
DRB%        0.000000
TRB%        0.000000
AST%        0.000000
STL%        0.000000
BLK%        0.000000
TOV%        0.205761
USG%        0.000000
blanl     100.000000
OWS         0.000000
DWS         0.000000
WS          0.000000
WS/48       0.000000
blank2    100.000000
OBPM        0.000000
DBPM        0.000000
BPM         0.000000
VORP        0.000000
FG          0.000000
FGA         0.000000
FG%         0.205761
3P          0.000000
3PA         0.000000
3P%         7.407407
2P          0.000000
2PA         0.000000
2P%         0.411523
eFG%        0.205761
FT          0.000000
FTA         0.000000
FT%         3.086420
ORB         0.000000
DRB         0.000000
TRB         0.000000
AST         0.000000
STL         0.000000
BLK         0.000000
TOV         0.000000
PF          0.000000
PTS         0.000000
dtype: float64

In [7]:
#drop columns that have 100% missing vales
NBA_df = df.drop(['blanl', 'blank2'], axis=1)
NBA_df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,0.565,...,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
2,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
3,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,...,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
4,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,...,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0

In [8]:
#replace missing values in the data with value of 0.0 as the null total percentage relatively small
#so, replaced by 0.0 would not arise any issues.
NBA_df = NBA_df.fillna(0.0)

## Analysing data

### 1.	Who is the youngest and oldest player in the NBA in 2017 for each team (Tm) ?

In [24]:
#get only the required columns (Team, PLayer Name,Age)
Q1_df = NBA_df[['Tm','Player', 'Age']]
Q1_df

      Tm             Player   Age
0    OKC       Alex Abrines  23.0
1    TOT         Quincy Acy  26.0
2    OKC       Steven Adams  23.0
3    SAC      Arron Afflalo  31.0
4    NOP      Alexis Ajinca  28.0
..   ...                ...   ...
481  CHO        Cody Zeller  24.0
482  BOS       Tyler Zeller  27.0
483  ORL  Stephen Zimmerman  20.0
484  CHI        Paul Zipser  22.0
485  LAL        Ivica Zubac  19.0

[486 rows x 3 columns]

In [27]:
#create a Youngest dataframe by grouping the player by team and search the minimum values of the age in each team
Youngest = Q1_df[Q1_df.groupby('Tm')['Age'].transform('min') == df['Age']]
Youngest = Youngest.sort_values(by=['Tm']).reset_index(drop=True)
Youngest

     Tm                   Player   Age
0   ATL          DeAndre' Bembry  22.0
1   ATL    Taurean Waller-Prince  22.0
2   BOS             Jaylen Brown  20.0
3   BRK         Isaiah Whitehead  21.0
4   CHI             Bobby Portis  21.0
5   CHO           Christian Wood  21.0
6   CLE               Kay Felder  21.0
7   DAL               Ben Bentil  21.0
8   DEN             Jamal Murray  19.0
9   DET           Henry Ellenson  20.0
10  DET          Stanley Johnson  20.0
11  GSW             Kevon Looney  20.0
12  HOU           Chinanu Onuaku  20.0
13  IND             Myles Turner  20.0
14  LAC            Diamond Stone  19.0
15  LAL           Brandon Ingram  19.0
16  LAL              Ivica Zubac  19.0
17  MEM             Wade Baldwin  20.0
18  MEM            Deyonta Davis  20.0
19  MIA          Justise Winslow  20.0
20  MIL               Thon Maker  19.0
21  MIN               Tyus Jones  20.0
22  NOP            Cheick Diallo  20.0
23  NYK       Kristaps Porzingis  21.0
24  OKC         Domantas Sabonis  20.0
25  ORL        Stephen Zimmerman  20.0
26  PHI            Jahlil Okafor  21.0
27  PHI  Timothe Luwawu-Cabarrot  21.0
28  PHO            Derrick Jones  19.0
29  PHO            Dragan Bender  19.0
30  PHO          Marquese Chriss  19.0
31  POR              Noah Vonleh  21.0
32  SAC     Georgios Papagiannis  19.0
33  SAS          Dejounte Murray  20.0
34  TOR            Bruno Caboclo  21.0
35  TOR             Jakob Poeltl  21.0
36  TOT         Chris McCullough  21.0
37  UTA               Trey Lyles  21.0
38  UTA               Dante Exum  21.0
39  WAS              Kelly Oubre  21.0

In [22]:
#create an Oldest dataframe by grouping the player by team and search the maximum values of the age in each team
Oldest = Q1_df[Q1_df.groupby('Tm')['Age'].transform('max') == df['Age']]
Oldest = Oldest.sort_values(by=['Tm']).reset_index(drop=True)
Oldest

     Tm            Player   Age
0   ATL   Thabo Sefolosha  32.0
1   ATL         Gary Neal  32.0
2   BOS      Gerald Green  31.0
3   BRK        Luis Scola  36.0
4   CHI       Dwyane Wade  35.0
5   CHO     Brian Roberts  31.0
6   CLE    Chris Andersen  38.0
7   DAL     Dirk Nowitzki  38.0
8   DEN       Mike Miller  36.0
9   DET        Beno Udrih  34.0
10  GSW        David West  36.0
11  HOU      Nene Hilario  34.0
12  IND      Al Jefferson  32.0
13  IND      Aaron Brooks  32.0
14  LAC       Paul Pierce  39.0
15  LAL       Metta World  37.0
16  MEM      Vince Carter  40.0
17  MIA     Udonis Haslem  36.0
18  MIL       Jason Terry  39.0
19  MIN        John Lucas  34.0
20  NOP      Jarrett Jack  33.0
21  NYK     Sasha Vujacic  32.0
22  NYK   Carmelo Anthony  32.0
23  OKC     Nick Collison  36.0
24  ORL       C.J. Watson  32.0
25  PHI    Tiago Splitter  32.0
26  PHO    Tyson Chandler  34.0
27  PHO   Leandro Barbosa  34.0
28  POR       Evan Turner  28.0
29  SAC  Anthony Tolliver  31.0
30  SAC     Arron Afflalo  31.0
31  SAS     Manu Ginobili  39.0
32  TOR   DeMarre Carroll  30.0
33  TOR        Kyle Lowry  30.0
34  TOT     Mike Dunleavy  36.0
35  TOT       Matt Barnes  36.0
36  UTA       Joe Johnson  35.0
37  WAS     Marcin Gortat  32.0

### 2.	Which player has the most minutes played (MP) in each position (Pos)?

In [13]:
#get only the required columns (Pos, PLayer Name, MP)
Q2_df = NBA_df[['Pos','Player', 'MP']]
Q2_df

    Pos             Player      MP
0    SG       Alex Abrines  1055.0
1    PF         Quincy Acy   558.0
2     C       Steven Adams  2389.0
3    SG      Arron Afflalo  1580.0
4     C      Alexis Ajinca   584.0
..   ..                ...     ...
481  PF        Cody Zeller  1725.0
482   C       Tyler Zeller   525.0
483   C  Stephen Zimmerman   108.0
484  SF        Paul Zipser   843.0
485   C        Ivica Zubac   609.0

[486 rows x 3 columns]

In [29]:
#create a MostMP_per_Pos dataframe by grouping the player by position and search the maximum values of the 'MP' in each position
MostMP_per_Pos = Q2_df[Q2_df.groupby('Pos')['MP'].transform('max') == df['MP']]
MostMP_per_Pos = MostMP_per_Pos.reset_index(drop=True)
MostMP_per_Pos

    Pos              Player      MP
0    PF     Harrison Barnes  2803.0
1    PG        James Harden  2947.0
2  PF-C   Joffrey Lauvergne   980.0
3    SG       C.J. McCollum  2796.0
4     C  Karl-Anthony Towns  3030.0
5    SF      Andrew Wiggins  3048.0

### 3.	Which team has the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)?

In [31]:
#get only the required columns (Pos, PLayer Name, MP)
Q3_df = NBA_df[['Tm','TRB%','AST%','STL%','BLK%']]
Q3_df

      Tm  TRB%  AST%  STL%  BLK%
0    OKC   4.5   5.5   1.7   0.6
1    TOT  11.0   4.9   1.2   2.0
2    OKC  14.2   5.4   1.8   2.6
3    SAC   4.6   7.4   0.7   0.4
4    NOP  16.0   3.1   1.7   3.1
..   ...   ...   ...   ...   ...
481  CHO  12.9   9.1   1.8   3.0
482  BOS  13.2  12.2   0.7   3.3
483  ORL  17.6   5.3   0.9   3.7
484  CHI   8.0   6.1   0.9   1.5
485  LAL  14.3   8.1   1.1   4.4

[486 rows x 5 columns]

In [33]:
#get the average of total variables and grouped by team
total_avg = Q3_df.groupby(['Tm']).mean()
total_avg

          TRB%       AST%      STL%      BLK%
Tm
ATL   9.680000  14.120000  1.500000  1.693333
BOS  10.360000  14.573333  1.366667  1.493333
BRK   9.757143  15.000000  1.457143  1.400000
CHI   9.738462  13.061538  1.584615  1.315385
CHO   9.264286  14.042857  1.235714  1.371429
CLE  10.142857  11.978571  1.492857  1.885714
DAL  10.400000  14.162500  1.287500  1.643750
DEN  10.600000  15.860000  1.880000  0.953333
DET  10.326667  13.200000  1.260000  1.173333
GSW  11.426667  13.960000  1.733333  2.740000
HOU   9.761538  12.823077  1.646154  1.600000
IND  10.153333  12.446667  1.460000  1.540000
LAC  10.586667  12.033333  1.993333  2.053333
LAL  10.921429  11.942857  1.692857  1.585714
MEM  10.180000  13.293333  1.646667  1.920000
MIA  10.057143  12.728571  1.485714  1.600000
MIL   9.326667  13.146667  1.533333  1.986667
MIN   9.992857  12.664286  2.371429  1.585714
NOP   9.392308  13.415385  1.600000  1.607692
NYK  11.192857  11.921429  1.507143  1.964286
OKC  10.450000  13.891667  1.483333  1.800000
ORL   9.337500  12.225000  1.250000  1.243750
PHI  10.860000  15.040000  1.333333  1.786667
PHO   9.841176  11.029412  1.400000  1.458824
POR   9.638462  12.400000  1.430769  1.438462
SAC   9.123077  14.107692  1.584615  1.492308
SAS   9.687500  14.900000  1.512500  1.906250
TOR  10.671429  11.571429  1.928571  1.978571
TOT   9.490566  12.096226  1.469811  1.841509
UTA  10.386667  12.673333  1.540000  1.726667
WAS  13.450000  11.314286  1.535714  1.292857

Highest Average of Total Rebound Percentage(TRB%)

In [38]:
#find the max values of total average in TRB%
Highest_avg_TRB = total_avg[total_avg['TRB%'] == total_avg['TRB%'].max()]
Highest_avg_TRB = Highest_avg_TRB[['TRB%']]
Highest_avg_TRB

      TRB%
Tm
WAS  13.45

Highest Average of Total Assist Percentage(AST%)

In [39]:
#find the max values of total average in AST%
Highest_avg_AST = total_avg[total_avg['AST%'] == total_avg['AST%'].max()]
Highest_avg_AST = Highest_avg_AST[['AST%']]
Highest_avg_AST

      AST%
Tm
DEN  15.86

Highest Average of Total Steal Percentage(STL%)

In [41]:
#find the max values of total average in STL%
Highest_avg_STL = total_avg[total_avg['STL%'] == total_avg['STL%'].max()]
Highest_avg_STL = Highest_avg_STL[['STL%']]
Highest_avg_STL

         STL%
Tm
MIN  2.371429

Highest Average of Total Block Percentage(BL%K)

In [42]:
#find the max values of total average in BLK%
Highest_avg_BLK = total_avg[total_avg['BLK%'] == total_avg['BLK%'].max()]
Highest_avg_BLK = Highest_avg_BLK[['BLK%']]
Highest_avg_BLK

     BLK%
Tm
GSW  2.74

### 4.	Who is the best player in your opinion based on his record stats? note: you can refer to variables point (PTS), assists, rebounds, or anything else. A combination of several variables would be nice.

The best player would be the one that has the highest overall rating in average. To determine the best player in NBA 2017, I will look at several variables. These variables are:
- PER (Player efficiency rating)
- eFG% (Effective Field Goal Percentage)
- TS% (True Shooting Percentage)
- ORB% (Offensive Rebound Percentage)
- DRB%( Defensive Rebound Percentage)
- TRB (Total Rebounds)
- AST% (Assist Percentage)
- STL% (Steal Percentage)
- BLK% (Block Percentage)
- PTS (Points)
- BPM (Box Plus/Minus)
- WS (Win Shares)
- WS/48 (Win Shares)

These were chosen by research on how to measure the NBA player.
Reference: 
- https://benchboss.ai/efficiency-the-most-important-stat-in-basketball/
- https://bleacherreport.com/articles/1813902-advanced-nba-stats-for-dummies-how-to-understand-the-new-hoops-math

In [47]:
#get only the required columns (Pos, PLayer Name, MP)
Q4_df = NBA_df[['Player','Pos','Tm','PER','eFG%','TS%','ORB%','DRB%','TRB','AST%','STL%','BLK%','PTS','BPM','WS','WS/48']]
Q4_df

,Player,Pos,Tm,PER,eFG%,TS%,ORB%,DRB%,TRB,AST%,STL%,BLK%,PTS,BPM,WS,WS/48
0,Alex Abrines,SG,OKC,10.1,0.531,0.560,1.9,7.1,86.0,5.5,1.7,0.6,406.0,-2.5,2.1,0.095
1,Quincy Acy,PF,TOT,11.8,0.521,0.565,3.9,18.0,115.0,4.9,1.2,2.0,222.0,-3.0,0.9,0.082
2,Steven Adams,C,OKC,16.5,0.571,0.589,13.0,15.5,615.0,5.4,1.8,2.6,905.0,0.5,6.4,0.130
3,Arron Afflalo,SG,SAC,9.0,0.514,0.559,0.7,8.4,125.0,7.4,0.7,0.4,515.0,-3.5,1.4,0.043
4,Alexis Ajinca,C,NOP,12.9,0.500,0.529,8.3,23.8,177.0,3.1,1.7,3.1,207.0,-4.1,1.0,0.080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,Cody Zeller,PF,CHO,16.7,0.571,0.604,8.6,17.3,405.0,9.1,1.8,3.0,639.0,2.1,5.6,0.157
482,Tyler Zeller,C,BOS,13.0,0.494,0.508,9.2,17.0,124.0,12.2,0.7,3.3,178.0,-2.5,1.0,0.094
483,Stephen Zimmerman,C,ORL,7.3,0.323,0.346,10.8,24.9,35.0,5.3,0.9,3.7,23.0,-7.3,0.0,-0.005
484,Paul Zipser,SF,CHI,6.9,0.473,0.503,1.9,14.2,125.0,6.1,0.9,1.5,240.0,-3.7,0.5,0.030
485,Ivica Zubac,C,LAL,17.0,0.529,0.547,7.1,21.9,159.0,8.1,1.1,4.4,284.0,-2.5,1.1,0.086

In [49]:
#create a column that contain the mean of each variable
Q4_df['avg_overall_metrics'] = Q4_df.mean(axis=1)
Q4_df

C:\Users\Alifia\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Player,Pos,Tm,PER,eFG%,TS%,ORB%,DRB%,TRB,AST%,STL%,BLK%,PTS,BPM,WS,WS/48,avg_overall_metrics
0,Alex Abrines,SG,OKC,10.1,0.531,0.560,1.9,7.1,86.0,5.5,1.7,0.6,406.0,-2.5,2.1,0.095,39.975846
1,Quincy Acy,PF,TOT,11.8,0.521,0.565,3.9,18.0,115.0,4.9,1.2,2.0,222.0,-3.0,0.9,0.082,29.066769
2,Steven Adams,C,OKC,16.5,0.571,0.589,13.0,15.5,615.0,5.4,1.8,2.6,905.0,0.5,6.4,0.130,121.768462
3,Arron Afflalo,SG,SAC,9.0,0.514,0.559,0.7,8.4,125.0,7.4,0.7,0.4,515.0,-3.5,1.4,0.043,51.201231
4,Alexis Ajinca,C,NOP,12.9,0.500,0.529,8.3,23.8,177.0,3.1,1.7,3.1,207.0,-4.1,1.0,0.080,33.454538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,Cody Zeller,PF,CHO,16.7,0.571,0.604,8.6,17.3,405.0,9.1,1.8,3.0,639.0,2.1,5.6,0.157,85.348615
482,Tyler Zeller,C,BOS,13.0,0.494,0.508,9.2,17.0,124.0,12.2,0.7,3.3,178.0,-2.5,1.0,0.094,27.461231
483,Stephen Zimmerman,C,ORL,7.3,0.323,0.346,10.8,24.9,35.0,5.3,0.9,3.7,23.0,-7.3,0.0,-0.005,8.020308
484,Paul Zipser,SF,CHI,6.9,0.473,0.503,1.9,14.2,125.0,6.1,0.9,1.5,240.0,-3.7,0.5,0.030,30.331231
485,Ivica Zubac,C,LAL,17.0,0.529,0.547,7.1,21.9,159.0,8.1,1.1,4.4,284.0,-2.5,1.1,0.086,38.643231

Best Player NBA 2017

In [55]:
#find the player that has the highest 'avg_overall_metrics'
Best_Player = Q4_df[Q4_df['avg_overall_metrics']== Q4_df['avg_overall_metrics'].max()]
Best_Player

,Player,Pos,Tm,PER,eFG%,TS%,ORB%,DRB%,TRB,AST%,STL%,BLK%,PTS,BPM,WS,WS/48,avg_overall_metrics
457,Russell Westbrook,PG,OKC,30.6,0.476,0.554,5.4,28.8,864.0,57.3,2.3,0.9,2558.0,15.6,13.1,0.224,275.173385

### 5.	Which team has the best average stat record of their players? Note: you can refer to points, assists, rebounds, or anything else. A combination of several variables would be nice

I used the dataset from Question 4 before as it already has the avg_overall_metrics for each player.

In [57]:
#grouped the data by Team and calculated the total every varibale in the data
Q5_df = Q4_df.groupby(by=["Tm"]).sum()
Q5_df

,PER,eFG%,TS%,ORB%,DRB%,TRB,AST%,STL%,BLK%,PTS,BPM,WS,WS/48,avg_overall_metrics
Tm,,,,,,,,,,,,,,
ATL,154.9,6.394,7.125,64.5,223.6,3295.0,211.8,22.5,25.4,7652.0,-46.6,34.9,0.636,896.319615
BOS,221.7,8.095,8.405,82.7,227.4,3442.0,218.6,20.5,22.4,8857.0,-5.1,48.1,1.759,1011.812231
BRK,177.1,6.855,7.458,60.0,211.6,3159.0,210.0,20.4,19.6,7341.0,-26.6,22.3,0.851,862.274154
CHI,158.3,5.807,6.228,58.0,196.1,3195.0,169.8,20.6,17.1,7165.0,-19.5,37.7,1.004,847.010692
CHO,170.6,6.270,6.959,59.5,200.9,3204.0,196.6,17.3,19.2,8031.0,-33.8,38.9,0.964,916.799462
CLE,192.3,6.893,7.545,86.5,193.9,3232.0,167.7,20.9,26.4,8084.0,-27.9,45.3,1.147,925.898846
DAL,167.5,7.102,7.602,67.1,275.9,2428.0,226.6,20.6,26.3,6455.0,-66.2,27.7,0.164,741.797538
DEN,227.4,8.152,8.499,84.3,231.9,3356.0,237.9,28.2,14.3,8534.0,4.0,40.3,1.665,982.816615
DET,195.8,6.923,7.423,77.7,238.4,3746.0,198.0,18.9,17.6,8309.0,-30.5,38.4,1.066,986.516308
GSW,231.3,8.104,8.537,104.8,230.1,3549.0,209.4,26.0,41.1,9377.0,13.6,66.9,2.165,1066.769692
HOU,181.8,6.898,7.261,70.6,183.4,3382.0,166.7,21.4,20.8,8677.0,-5.6,52.8,1.404,982.035615
IND,193.8,7.211,7.784,75.5,226.6,3420.0,186.7,21.9,23.1,8575.0,-37.0,40.7,0.956,980.173154
LAC,202.5,7.417,7.939,69.0,244.2,3530.0,180.5,29.9,30.8,8911.0,-21.6,51.8,1.061,1018.809000
LAL,182.2,6.896,7.289,84.4,226.6,3316.0,167.2,23.7,22.2,7118.0,-33.8,19.2,0.694,856.967615
MEM,192.5,7.133,7.797,77.9,231.7,3450.0,199.4,24.7,28.8,8057.0,-15.1,42.9,1.316,946.618923
MIA,181.5,6.958,7.334,70.0,213.1,3506.0,178.2,20.8,22.4,8312.0,-8.1,44.3,1.286,965.829077
MIL,193.8,7.568,7.989,55.3,222.7,3211.0,197.2,23.0,29.8,8332.0,-32.3,40.7,1.022,945.367615
MIN,184.2,6.593,7.110,83.2,198.0,3448.0,177.3,33.2,22.2,8591.0,-26.6,39.4,0.970,981.890231
NOP,173.0,6.659,7.165,59.1,185.7,2613.0,174.4,20.8,20.9,6119.0,-26.7,29.4,1.137,721.812385
NYK,190.8,6.869,7.280,95.0,218.6,3525.0,166.9,21.1,27.5,7965.0,-19.8,31.2,1.006,941.265769
OKC,166.9,6.008,6.303,70.5,180.7,3213.0,166.7,17.8,21.6,7331.0,-10.3,37.2,1.240,862.203923
ORL,151.2,6.755,7.457,66.2,237.5,3084.0,195.6,20.0,19.9,7134.0,-70.8,20.8,0.293,836.377308
PHI,202.4,7.442,8.016,95.1,231.1,2864.0,225.6,20.0,26.8,6925.0,-35.7,20.8,0.838,814.722769
PHO,208.4,7.907,8.653,91.7,246.8,3346.0,187.5,23.8,24.8,8430.0,-50.0,26.6,0.879,965.618385
POR,163.2,6.641,7.028,59.2,191.6,2940.0,161.2,18.6,18.7,7950.0,-24.9,35.0,0.859,886.702154
SAC,173.4,6.771,7.202,56.5,179.3,2216.0,183.4,20.6,19.4,5705.0,-27.6,22.6,0.898,658.728538
SAS,223.8,8.447,8.961,69.4,237.0,3599.0,238.4,24.2,30.5,8637.0,5.3,60.4,1.939,1011.103615
TOR,201.8,7.027,7.488,91.5,207.2,3122.0,162.0,27.0,27.7,7737.0,1.1,48.6,1.520,895.533462
TOT,661.3,26.997,28.397,239.8,768.9,9774.0,641.1,77.9,97.6,22713.0,-111.7,90.9,3.725,2693.224538
UTA,217.5,7.825,8.259,73.5,233.8,3545.0,190.1,23.1,25.9,8258.0,0.8,52.7,1.745,972.171462
WAS,185.2,6.708,7.075,64.5,298.7,3352.0,158.4,21.5,18.1,8471.0,-38.1,45.5,1.334,968.609000

In [64]:
#find the team than have the highest total of 'avg_overall_metrics'
Best_Team = Q5_df[Q5_df['avg_overall_metrics'] == Q5_df['avg_overall_metrics'].max()]
Best_Team = Best_Team[['avg_overall_metrics']]
Best_Team.columns = ['Metric']
Best_Team

          Metric
Tm
TOT  2693.224538